USE [master]
GO
/****** Object:  Database [PracticeDB]    Script Date: 6/26/2017 09:42:35 ******/
CREATE DATABASE [PracticeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PracticeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PracticeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticeDB]
GO
USE [PracticeDB]
GO
/****** Object:  User [practicecarriers]    Script Date: 6/26/2017 09:42:35 ******/
CREATE USER [practicecarriers] FOR LOGIN [practicecarriers] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [practicecarriers]
GO
ALTER ROLE [db_datareader] ADD MEMBER [practicecarriers]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [practicecarriers]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/26/2017 09:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 6/26/2017 09:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierID] [int] IDENTITY(1,1) NOT NULL,
	[MCNumber] [nvarchar](50) NULL,
	[DOTNumber] [int] NOT NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[City] [nvarchar](200) NULL,
	[StateID] [int] NOT NULL,
	[Zip] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[WebURL] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [nvarchar](max) NULL,
	[LastModified] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Carriers] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 6/26/2017 09:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NULL,
	[StateAbbrev] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carriers] ON 

INSERT [dbo].[Carriers] ([CarrierID], [MCNumber], [DOTNumber], [Address1], [Address2], [City], [StateID], [Zip], [Email], [WebURL], [Active], [DateCreated], [LastModified]) VALUES (1, N'3127044', 314506, N'6408 Magdeline Crossing', NULL, N'Chezhan', 43, N'48293', N'cwearn0@examiner.com', N'https://wp.com', 1, N'2017-02-17', N'2017-02-10')
INSERT [dbo].[Carriers] ([CarrierID], [MCNumber], [DOTNumber], [Address1], [Address2], [City], [StateID], [Zip], [Email], [WebURL], [Active], [DateCreated], [LastModified]) VALUES (2, N'2048067', 264686, N'42 Arrowood Lane', NULL, N'Lübeck', 23, N'41116', N'struran1@wikispaces.com', N'http://ezinearticles.com', 1, N'2015-04-07', N'2016-12-04')
INSERT [dbo].[Carriers] ([CarrierID], [MCNumber], [DOTNumber], [Address1], [Address2], [City], [StateID], [Zip], [Email], [WebURL], [Active], [DateCreated], [LastModified]) VALUES (3, N'8559694', 495136, N'71498 Stoughton Junction', NULL, N'Gabao', 47, N'35911', N'dalcalde2@hao123.com', N'https://4shared.com', 1, N'2016-09-05', N'2016-07-27')
GO
SET IDENTITY_INSERT [dbo].[Carriers] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateID], [StateName], [StateAbbrev]) VALUES (1, N'Alaska', N'AK')
INSERT [dbo].[States] ([StateID], [StateName], [StateAbbrev]) VALUES (2, N'Alabama', N'AL')
INSERT [dbo].[States] ([StateID], [StateName], [StateAbbrev]) VALUES (3, N'Arkansas', N'AR')
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  Index [IX_StateID]    Script Date: 6/26/2017 09:42:35 ******/
CREATE NONCLUSTERED INDEX [IX_StateID] ON [dbo].[Carriers]
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carriers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carriers_dbo.States_StateID] FOREIGN KEY([StateID])
REFERENCES [dbo].[States] ([StateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carriers] CHECK CONSTRAINT [FK_dbo.Carriers_dbo.States_StateID]
GO
USE [master]
GO
